<!DOCTYPE html>
<html>
<head>
    <title>Flickr</title>
	<meta charset="utf-8" />
    <!--CSS Styles-->
    <link href="../assets/css/style.css" rel="stylesheet" />    
    <script src="https://use.fontawesome.com/49e95ca602.js"></script>

    <!--JScript-->
    <script src="../assets/script/flickrWidget.js"></script>
</head>
<body> 
    <div id="ErrorBrowser"></div>
    <div id="flickrWidget" data-nbr-image="9" data-topic="football,ball" onscroll="WidgetScrolled(this.id)"></div>
    <div id="flickrWidget2" data-nbr-image="9" data-topic="flowers" onscroll="WidgetScrolled(this.id)"></div>
    <script>
        //Run when DOM contents are loaded
        document.addEventListener('DOMContentLoaded', function () {
            console.log('Hello, World!');
            invokeFlickrWidget("flickrWidget",
                                {
                                    width: "450px",
                                    height: "200px",
                                    backgroundColour: "#cccccc",
                                    enableScroll: true,
                                    thumbnailSize: "200px"
                                });

            invokeFlickrWidget("flickrWidget2",
                                {
                                    width: "450px",
                                    height: "200px",
                                    backgroundColour: "#000000",
                                    enableScroll: true,
                                    thumbnailSize: "100px"
                                });
            //invokeFlickrWidget("flickrWidget2");            
        });
    </script>
</body>
</html>
